* {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  margin-left: auto;
}

.navbar>div {
  border-bottom: 2px solid white;
}

.navbar-nav>li>a {
  font-weight: bold;
  color: white;
}

.home-banner-img {
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.demo-uploaded-img {
  height: 32vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.uploaded-img {
  position: relative;
}

.upload-btn-area {
  opacity: 0;
}

.uploaded-img:hover .upload-btn-area {
  opacity: 1;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-caption {
  padding-bottom: 10.25rem !important;
}

.slide-img-item:before {
  content: "";
  background-image: linear-gradient(#6c9283,
      rgba(56, 56, 56, 0.336));
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 11rem !important;
  height: 4rem !important;
}

.carousel-indicators [data-bs-target] {
  width: 23px !important;
  height: 20px !important;
  border-radius: 0px !important;
  background-color: #6c9283 !important;
}

.web-master-area {
  background: #444643;
  color: white;
  padding: 22px 0 22px 0;
  text-align: center;
}

.navbar-bg-color {
  background-color: #6c9283;
}

.web-master-area>div>h3 {
  margin-bottom: 0;
  font-size: 32px;
  margin-bottom: 0;
  font-weight: 800;
}

.web-master-area>div>p {
  margin-bottom: 0;
}

.inner-container-card {
  text-align: center;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 16px 5px 32px 5px;
}

.inner-container-card>div>div:first-child {
  padding: 0 0 80px 0;
}

.cards-container {
  height: 30vh;
}

.icons {
  font-size: 64px;
  font-size: 64px;
  padding: 16px;
  border-radius: 70px;
  background: #414340;
  color: white;
}

.inner-container-card:hover .web-master-heading {
  color: #5db5c3;
}

.inner-container-card:hover .icons {
  font-size: 64px;
  border: 22px solid white;
  font-size: 64px;
  padding: 16px;
  border-radius: 70px;
  background: #5db5c3;
  color: white;
  outline: 5px solid #5db5c3;
}


.inner-container-card>div>h3 {
  font-size: 32px;
  font-weight: bold;
  color: #444643;
}

.inner-container-card>p {
  color: #444643;
}

.cards-main-area {
  padding: 100px 0 100px 0;
}

.file-upload-none {
  display: none;
}